body {
  margin: 0;
  font-family: "Segoe UI";
  background: #0f172a;
  color: white;
}

.layout {
  display: grid;
  grid-template-columns: 260px 500px 1fr;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  background: #020617;
  padding: 15px;
}

.dropzone {
  border: 2px dashed #334155;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.dropzone input {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.dropzone:hover {
  background: #1e293b;
}

/* FILTROS */
.filters label {
  font-size: 12px;
  color: #94a3b8;
  display: block;
  margin-top: 10px;
}

.filters select {
  width: 100%;
  background: #1e293b;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 5px;
  margin-top: 3px;
}

.filters button {
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
}

/* LISTA */
.lista {
  background: #111827;
  overflow-y: auto;
}

.header {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #374151;
}

/* header tabla */
.tabla-header {
  display: grid;
  grid-template-columns: 30px 80px 150px 90px 120px 100px 60px;
  font-size: 12px;
  color: #9ca3af;
  padding: 6px;
}

/* filas */
.fila {
  display: grid;
  grid-template-columns: 30px 80px 150px 90px 120px 100px 60px;
  padding: 6px;
  font-size: 13px;
  border-top: 1px solid #1f2937;
  cursor: pointer;
}

.fila:hover {
  background: #1f2937;
}

.fila.active {
  background: #1e40af;
}

/* DETALLE */
.detalle {
  background: #f8fafc;
  color: black;
  padding: 15px;
  overflow-y: auto;
}

/* CABECERA */
.cabecera {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 20px;
}

.campo {
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background: white;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* TABLA */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th:nth-child(1), td:nth-child(1) { width: 40%; }
th:nth-child(2), td:nth-child(2) { width: 10%; }
th:nth-child(3), td:nth-child(3) { width: 15%; }
th:nth-child(4), td:nth-child(4) { width: 15%; }
th:nth-child(5), td:nth-child(5) { width: 20%; }
