body {
  margin: 0;
  font-family: "Segoe UI";
  background: #0f172a;
  color: white;
}

.layout {
  display: grid;
  grid-template-columns: 260px 300px 1fr;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  background: #020617;
  padding: 15px;
}

.dropzone {
  border: 2px dashed #334155;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.dropzone:hover {
  background: #1e293b;
}

.dropzone input {
  position: absolute;
  inset: 0;
  opacity: 0;
}

/* LISTA */
.lista {
  background: #111827;
  overflow-y: auto;
  padding: 10px;
}

.card {
  background: #1f2937;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.card:hover {
  background: #374151;
}

.card.active {
  border: 2px solid #3b82f6;
}

/* DETALLE */
.detalle {
  background: #f8fafc;
  color: black;
  padding: 20px;
  overflow-y: auto;
}

.cabecera {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.campo {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  background: white;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.campo {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* TABLA */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ancho específico */
th:nth-child(1), td:nth-child(1) { width: 40%; } /* Producto */
th:nth-child(2), td:nth-child(2) { width: 10%; }
th:nth-child(3), td:nth-child(3) { width: 15%; }
th:nth-child(4), td:nth-child(4) { width: 15%; }
th:nth-child(5), td:nth-child(5) { width: 20%; }
